<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="spacing"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="giftTitle">Check Out All Our Sweet Rewards!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="frameBox frameColor1">
          <img class="frameImage" src="../../assets/images/gifts/amazongift.png">
          Amazon Gift Cards
        </div>
      </div>
      <div class="col-3">
          <div class="frameBox frameColor2">
            <img class="frameImage" src="../../assets/images/gifts/paypalgift.png">
            Paypal
          </div>
      </div>
      <div class="col-3">
        <div class="frameBox frameColor3">
          <img class="frameImage" src="../../assets/images/gifts/chequegift.png">
          Cheque
        </div>
      </div>
      <div class="col-3">
        <div class="frameBox frameColor4">
          <img class="frameImage" src="../../assets/images/gifts/btcgift.png">
          Bitcoins
        </div>
      </div>
    </div>
  </div>
</div>