<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="spacing"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="giftTitle">CHECK OUT ALL THE SWEET SWAG!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="frameBox frameColor1">
          <img class="frameImage" src="../../assets/images/gifts/amazongift.png">
          $5 Amazon Gift Cards <br>
          500 Amazin' Bucks
        </div>
      </div>
      <div class="col-3">
          <div class="frameBox frameColor2">
            <img class="frameImage" src="../../assets/images/gifts/paypalgift.png">
            $10 Paypal <br>
            1000 Amazin' Bucks
          </div>
      </div>
      <div class="col-3">
        <div class="frameBox frameColor3">
          <img class="frameImage" src="../../assets/images/gifts/chequegift.png">
          $10 Cheque <br>
          1000 Amazin' Bucks
        </div>
      </div>
      <div class="col-3">
        <div class="frameBox frameColor4">
          <img class="frameImage" src="../../assets/images/gifts/btcgift.png">
          0.0013 Bitcoins <br>
          1000 Amazin' Bucks
        </div>
      </div>
    </div>
  </div>
</div>