.logo {
    padding-top:8px;
    width:30px;
    height:50px;
    padding-bottom:8px;
}

.logoText {
    margin-left:5px;
    padding-top:10px;
    font-size:20px;
    font-weight:500;
    padding-bottom:10px;
    color:white;
}

.navbarBG {
    padding-top:5px;
    padding-bottom:5px;
    background-color:#24292e;
}

.navUserInfo {
    text-align:right;
    color:white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top:24px;
    margin-left:-20px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.signupText {
    color:white;
    font-size:14px;
}

.signupLink {
    color:#56a3db;
    font-size:14px;
}

.breakerLine {
    width:100%;
    border-style:solid;
    border-width:1px;
    border-bottom-color:grey;
}

.topRow {
    padding-top:2px;
}

.loginRow {
    padding-top:2px;
}
.oauthlogos {
    width:20px;
    height:20px;
    padding:2px;
}


