<app-login-portal #LoginFrame="child"></app-login-portal>
<div class="container-fluid navbarBG">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img class="logo pull-left" src="../../assets/images/logo.png">
        <div class="logoText pull-left">Amazin'.io</div>
      </div>
      <div class="col-4">
        
      </div>
      <div class="col-4">
        <div class="pull-right">
          <div *ngIf="session.afAuth.user | async as user; else showLogin">
            <div class="container-fluid dropdown">
              <div class="row">
                <div class="navUserInfo">Welcome, <div class="highlight pull-right">{{this.userService.currentUser.firstname}}</div></div>
              </div>
              <div class="row">
                <span class="dropdown navUserInfo pull-right"> Your Current Earnings: <div class="highlight pull-right">${{this.userService.currentUser.currentBalance}} <i class="fa fa-chevron-down arrowMargin"></i></div></span>
                <div class="dropdown-content">
                  <div class="currentEarning pull-left">Current Earnings: </div><div class="pull-right amount"> ${{this.userService.currentUser.currentBalance}} </div> <br>
                  <div class="currentEarning pull-left">Lifetime Earnings: </div><div class="pull-right amount"> ${{this.userService.currentUser.lifeTimeEarning}} </div> <br>
                  <hr>
                  <a class="logoutLink" href="" (click)="logout()">My Account</a> <br>
                  <a class="logoutLink" href="" (click)="logout()">Logout</a>
                  
                </div>
              </div>
            </div>
          </div>
          <ng-template #showLogin>
            <div class="container-fluid">
              <div class="row topRow">
                <div class="signupText">New to Amazin'? <a class="signupLink" href="#" (click)="LoginFrame.openSignupModal()">Sign Up Now!</a></div>
              </div>
              <div class="row">
                <div class="breakerLine"></div>
              </div>
              <div class="row loginRow">
                <div class="signupText">Already a Member? <a class="signupLink" href="#" (click)="LoginFrame.openLoginModal()">Login</a></div>
                <img class="oauthlogos" src="../../assets/images/oauth/fb_logo.png">
                <img class="oauthlogos" src="../../assets/images/oauth/google_logo.png">
              </div>
            </div>
          </ng-template>
        </div>
      </div>
  </div>
</div>



