.box {
    border-color:grey;
    border-style:solid;
    border-radius: 1px;
    height:300px;
}

.spacing {
    height:50px;
}

.explaingText {
    margin-top:100px;
    text-align:center;
    font-size:50px;
    font-weight:1000;
    color:white;
}

.splashbanner {
    background-color:#56a3db;
}

.iconlayer {
    margin-top:150px;
    width:200px;
    height:200px;
    z-index:-1;
}

.rightImage {
    margin-right:10px;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

.buttons {
    border-radius:10px;
    width:100%;
    font-size:15px;
}

.buttonMargin {
    margin-top:20px;
}

.dollarIcon {
    padding-bottom:1px;
    width:20px;
    height:20px;
    margin-right:5px;
}