<div class="container-fluid splashbanner">
  <div class="row">
    <div class="col-2">
      <img class="iconlayer" src="../../assets/images/leftBanner.png">
    </div>
    <div class="col-8">
      <div class="explaingText">Earn Sick Kickbacks By Shopping On Amazon!</div>
      <div class="container">
        <div class="row buttonMargin">
          <div class="col-6">
            <button type="button" class="btn btn-info buttons"><img class="dollarIcon" src="../../assets/images/info.png">How does it work?</button>
          </div>
          <div class="col-6">
              <button type="button" class="btn btn-warning buttons"><img class="dollarIcon" src="../../assets/images/dollar.png">Let's Start Earning!</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <img class="iconlayer pull-right" src="../../assets/images/rightBanner.png">
    </div>
  </div>
</div>

