.box {
    border-color:grey;
    border-style:solid;
    border-radius: 1px;
    height:300px;
}

.spacing {
    height:50px;
}

.explaingText {
    text-align:center;
    font-size:30px;
    font-weight:500;
}