<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="spacing"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="title">COOL AMAZON OFFERS!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="frameBox">
          <img class="frameImage" src="../../assets/images/promo/Amazon_Prime_logo.png">
          <p class="explainText">FREE Two-Day Shipping on millions of items. Start a free 1 month trial today</p>
          <div class="offerFont">Earn 200 Amazin' Bucks! </div>
        </div>
      </div>
      <div class="col-4">
        <div class="frameBox">
          <img class="frameImage" src="../../assets/images/promo/audible.png">
          <p class="explainText">World's Largest Provider Of Expertly Performed Audiobooks. Try It Free Today. 30 Days Free Trial. </p>
          <div class="offerFont">Earn 300 Amazin' Bucks! </div>
        </div>
      </div>
      <div class="col-4">
        <div class="frameBox">
          <img class="frameImage" src="../../assets/images/promo/amazon-fresh-1.png">
          <p class="explainText">Prime members in select cities can shop for groceries, everyday essentials, favorites from local shops and restaurants, and more with AmazonFresh. </p>
          <div class="offerFont">Earn 400 Amazin' Bucks! </div>
        </div>
      </div>
    </div>
  </div>
</div>