<div class="backgroundColor">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="spacing"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="myAccount">My Account</div>
            </div>
            <div class="col-8 nopaddinglr">
                <div class="row">
                    <div class="col-12">
                        <div class="overviewBox pull-left">
                            <div class="row">
                                <img class="boxImage" src="../../assets/images/avatar/man.png">
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="boxText">x031247x</div>
                                </div>
                            </div>
                        </div>
                        <div class="overviewBoxLeft pull-left">
                            <div class="row">
                                <div class="col-12">
                                    <div class="boxText">Current Earnings</div>
                                    <div class="boxText money">$100.52</div>
                                </div>
                            </div>
                        </div>
                        <div class="overviewBoxLeft pull-left">
                            <div class="row">
                                <div class="col-12">
                                    <div class="boxText">Life Time Earnings</div>
                                    <div class="boxText money">$100.52</div>
                                </div>
                            </div>
                        </div>
                        <div class="overviewBoxLeft pull-left">
                            <div class="row">
                                <div class="col-12">
                                    <div class="boxText">Transactions</div>
                                    <div class="boxText transactionsText"><i class="fa fa-random"></i> 21</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="spacing15"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 nopaddinglr">
                <div class="dashMenu">
                    <div class="dashMenuItemSelected dashMenuNoBottom">
                        PROFILE
                    </div>
                    <div class="dashMenuItem dashMenuNoBottom">
                        TRANSACTION HISTORY
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12 whiteBG infoBorder">
                        <div class="infoTitle">PERSONAL INFO</div>
                        <hr>
                    </div>
                </div>
                <div class="row whiteBG">
                    <div class="col-2">
                        <div class="item">
                            EMAIL
                        </div>
                    </div>
                    <div class="col-6">
                        <input name="lEmail" [(ngModel)]="loginModel.lEmail" #lEmail="ngModel" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-navbar></app-navbar>
</div>
