<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content loginFrame">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="loginText">Log In</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="loginWith">with</div>
          </div>
        </div>

        <div class="row">
          <div class="col-3">

          </div>
          <div class="col-3">
            <div class="oauthicon FBObject pull-right">
              <a href="#" class="fa fa-facebook"></a>
              <div class="FBText">Facebook</div>
            </div>
          </div>
          <div class="col-3">
            <div class="oauthicon GoogleObject pull-left">
              <a href="#" class="fa fa-google"></a>
              <div class="FBText">Google</div>
            </div>
          </div>
          <div class="col-3"></div>
        </div>

        <div class="row">
          <div class="col-4"><hr></div>
          <div class="col-4">
            <div class="orEmail">
              or with an email
            </div>
          </div>
          <div class="col-4"><hr></div>
        </div>

        <div class="row emailLogin">
          <div class="col-1"></div>
          <div class="col-10">
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
          </div>
          <div class="col-1"></div> 
        </div>
        <div class="row">
          <div class="col-4"></div>
          <!-- Default checked -->
          <div class="col-4">
            <div class="rememberMe col-centered">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
              <label class="custom-control-label labelRemember" for="defaultChecked2">Remember me</label>
            </div>
            </div>
          </div>
          <div class="col-4"></div>
        </div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <button type="button" class="btn btn-info loginButton">Login</button>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>