<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content loginFrame">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="loginText" *ngIf="this.loginSignup == true">Log In</div>
            <div class="loginText" *ngIf="this.loginSignup == false">Sign Up</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="loginWith">with</div>
          </div>
        </div>

        <div class="row">
          <div class="col-3">

          </div>
          <div class="col-3">
            <div class="oauthicon FBObject pull-right">
              <a href="#"(click)="checkLoginStatus()" class="fa fa-facebook"></a>
              <div class="FBText">Facebook</div>
            </div>
          </div>
          <div class="col-3">
            <div class="oauthicon GoogleObject pull-left">
              <a href="#" (click)="loginGoogle()" class="fa fa-google"></a>
              <div class="FBText">Google</div>
            </div>
          </div>
          <div class="col-3"></div>
        </div>

        <div class="row">
          <div class="col-4"><hr></div>
          <div class="col-4">
            <div class="orEmail">
              or with an email
            </div>
          </div>
          <div class="col-4"><hr></div>
        </div>
        <!-- Login Email Box -->
        <div *ngIf="this.loginSignup == true" class="loginEmail">
          <div class="row emailLogin">
            <div class="col-1"></div>
            <div class="col-10">
                <input name="lEmail" [(ngModel)]="loginModel.lEmail" #lEmail="ngModel" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                <input name="lPassword" [(ngModel)]="loginModel.lPassword" #lPassword="ngModel"type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
            </div>
            <div class="col-1"></div> 
          </div>
          <div class="row">
            <div class="col-4"></div>
            <!-- Default checked -->
            <div class="col-4">
              <div class="rememberMe col-centered">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                <label class="custom-control-label labelRemember" for="defaultChecked2">Remember me</label>
              </div>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <button type="button" class="btn btn-info loginButton">Login</button>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <div class="already">Don't have an account? <a href="#"(click)="openSignupModal()">Sign Up</a></div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <!-- Login Email Box END -->

        <!-- Signup with Email box BEGIN -->
        <div *ngIf="this.loginSignup == false" class="loginEmail">
          <div class="row">
            <div class="errorColor" *ngIf="sEmail.errors?.email"> 
                * Primary Email not valid.
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="errorColor" *ngIf="signupPasswordLength == false">
                  * Password must be at least 6 characters long.
              </div> 
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="errorColor">
                {{this.session.signupError}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="errorColor">
                {{this.errorMsg}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
              <input name="firstname" [(ngModel)]="signupModel.firstname" #sEmail="ngModel" type="text" class="form-control mb-4 pull-right" placeholder="First Name">
            </div>
            <div class="col-5">
              <input name="lastname" [(ngModel)]="signupModel.lastname" #sEmail="ngModel" type="text" class="form-control mb-4 pull-left" placeholder="Last Name">
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <input name="sEmail" [(ngModel)]="signupModel.sEmail" #sEmail="ngModel" type="email" class="form-control mb-4" placeholder="E-mail" email="true">
              <input (keyup)="validatePasswordSignup()" name="sPassword" [(ngModel)]="signupModel.sPassword" #sPassword="ngModel"type="password" class="form-control mb-4" placeholder="Password">
              <input (keyup)="validatePasswordSignup()" name="rPassword" [(ngModel)]="signupModel.rPassword" #rPassword="ngModel" type="password" class="form-control mb-4" placeholder="Retype Password">
            </div>
            <div class="col-1"></div> 
          </div>
          <div class="row">
            <div class="col-4"></div>
            <!-- Default checked -->
            <div class="col-4">
              <div class="rememberMe col-centered">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                <label class="custom-control-label labelRemember" for="defaultChecked2">Remember me</label>
              </div>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <button type="button" class="btn btn-info loginButton" (click)="signupButton()">Create Account!</button>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <div class="already">Already have an account? <a href="#"(click)="openLoginModal()">Log In</a></div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <!-- Signup with Email box END-->
      </div>
    </div>
  </div>
</div>


